<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Langchain API Query</title>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/styles/style.css') }}">
</head>

<body>
    <div class="container">
        <h1>GPT-SELF</h1>
        <div id="chatbox"></div>
        <textarea id="query" placeholder="Enter your query..."></textarea>
        <button id="submit">Send</button>
        <textarea id="appendData" placeholder="Enter data to append..."></textarea>
        <button id="append">Append Data</button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var speed = 15;  /* The speed/duration of the effect in milliseconds */
    
        function typeWriter(txt, element) {
            var i = 0;
            function type() {
                if (i < txt.length) {
                    element.innerHTML += txt.charAt(i);
                    i++;
                    setTimeout(type, speed);
                }
            }
            type();
        }
    
        $('#submit').click(function () {
            var queryText = $('#query').val();
            $('#chatbox').append('<p><strong>You:</strong> ' + queryText + '</p>');
            $.ajax({
                url: '/query',
                contentType: 'application/json',
                data: JSON.stringify({ 'query': queryText }),
                type: 'POST',
                success: function (response) {
                    var responseElement = document.createElement('p');
                    responseElement.className = 'typewriter-text';
                    responseElement.innerHTML = '<strong>Bot:</strong> ';
                    $('#chatbox').append(responseElement);
                    typeWriter(response.result, responseElement);
                    $('#query').val('');
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    
        $('#append').click(function () {
            var appendDataText = $('#appendData').val();
            $.ajax({
                url: '/append',
                contentType: 'application/json',
                data: JSON.stringify({ 'data': appendDataText }),
                type: 'POST',
                success: function (response) {
                    $('#appendData').val('');
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    </script>
    

</body>

</html>